*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("../img_login/fondo.jpg");
}

.contenedor{
    color: black;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1,lfr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header"
                        "form";

}

header{
    grid-area: header;
    height: 100px;
    background: rgba(217, 255, 0, 0.4);
}
ul{
    margin: 35px;
     text-align: right;
}
li{

    font-weight: bold;
    display: inline-block;
    margin-right:20px;
    padding-left: 10px;
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bolder;
}

form{
    border: rgb(32, 52, 229) 5px solid;
    border-radius: 8px;
    box-sizing: border-box;
    height: 500px;
    grid-area: form;
    margin: 5% 35%;
   background: rgb(127, 116, 223);
   text-align: center;
}
h2{
    text-align: center;
    font-size: 30px;
}

label{

    font-size: 20px;
    margin-top: 10px;
}
input{
    background-color: rgba(187, 255, 0, 0.719);
    border: rgb(32, 52, 229) 3px solid;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    width: 70%;
}
textarea{
   
    border: rgb(32, 52, 229) 3px solid;
    border-radius: 9px;
    width: 80%;
}
button{
 
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background: rgb(127, 116, 223);
    border: rgb(32, 52, 229) 3px solid;
    border-radius: 5px;
    
}
button:hover {  
    background: rgba(187, 255, 0, 0.719); 
    color: black; 
  }

/*dama efecto de agrandar a la opcion al aceracarnos con el mouse*/
li:hover{
    color: wheat;
   background: rgb(32, 52, 229);
    border-radius: 13px;
    transform: scale(1.2);
    transition: 0.5s;
}

form{
    animation-duration: 1s;
    animation-name: aniForm;
}

@keyframes aniForm{

    from{
        margin-left: 200%;
        width: 200%;
    }

    to{
        margin-left: 37%;
        width: 30%;
    }
}